body{
    width: 1300px;
    /*Background fixed*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url('../imgs/bg_web.jpg');
    background-color: rgb(176, 143, 30);
}
#preGame{
    background: url(../imgs/preGame.jpg);
    width: 600px;
    height: 390px;
    border: 1px solid #d3d3d3;
    position: center;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#dead{
    background: url(../imgs/dead.jpg);
    width: 600px;
    height: 390px;
    opacity: 0.6;
    border: 1px solid #d3d3d3;
    position: center;
    padding: 0;
    margin: auto;
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

canvas {
    border: 1px solid #d3d3d3;
    position: center;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}
#recreativa{
    width: 780px;
    height: 600px;
    margin: auto;
    position: fixed;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;    
}

#buttons{
    min-width: 780px;
    position: absolute;
    bottom: 0;
    margin-left: 177px;
}