body{
    width: 1300px;
    /*Background fixed*/
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url('../imgs/arcademachine.png'), url('../imgs/bg.gif') ;
}
#preGame{
    background: url(../imgs/preGame.jpg);
    width: 600px;
    height: 390px;
    position: center;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#dead{
    background: url(../imgs/dead.png);
    width: 600px;
    height: 390px;
    position: center;
    padding: 0;
    margin: auto;
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

canvas {
    position: center;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}
#recreativa{
    width: 780px;
    height: 811px;
    margin: auto;
    position: fixed;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;    
}

#buttons{
    min-width: 780px;
    position: absolute;
    bottom: 0;
}

#versionesButton a{
    background-color: blue;
    border: solid;
    border-width: 5px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 25px;
    font-variant: small-caps;
    text-decoration: none;
    padding: 2px;
    position: fixed;
    opacity: 0;
}

#versionesButton a:visited{
    color: black;
}